@{ ViewData["Title"] = "Home Page"; }
@model WeddingModel

<div class="text-center">
  <h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>

	<div class="d-md-flex h-md-60 align-items-center">
		<div class="col-md-6 p-0 h-md-60">
			<div class="d-md-flex align-items-center h-100 p-2 text-center justify-content-center">
				<div class="pt-2 pb-2 width80">
					<h3 class="text-left">Date: @Model.Date</h3>
					<br>
					
          <h6 class="text-left">Guests: @Model.Attendees.Count</h6>
          <ul class="list-unstyled">
						@foreach (var a in @Model.Attendees)
						{
							<li class="text-left">@a.User.FirstName</li>
						}
          </ul>
				</div>
			</div>
		</div>

		<div class="col-md-6 p-0 bg-white h-md-60 loginarea">
			<div class="d-md-flex align-items-center h-md-60 p-2 justify-content-center">
				<div class="pt-2 pb-2 width80">
					
				</div>
			</div>
		</div>

	</div>

</div>